<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SQLConnString" connectionString="UldTUMjt8WGV8O6eXtc3BfAZn1lNmbvFT5Bx4naky7CM+SD0+80rxdMKkeqLVNhKaJSGV2YcCFssMUCy5AWT4PdKAF48Jg07zkc5ARe2s+TlI/AzVg06nn7pquiXOK5fsBaOd/Cer73cfZ7sjeZiCAb8uVyHv2FPZZdTr5cKcl8RIN88a6kn3fPf03dD1MMjQ3JyVvDAATsd8yIR2q72qq4B1a1LKv/WCpx/AFKA9oIEIKEmpFlNmO4D7fwCWB9N" />
    <!--测试库-->
    <!--<add name="SQLConnString" connectionString="UldTUMjt8WGV8O6eXtc3BfAZn1lNmbvFT5Bx4naky7CM+SD0+80rxdMKkeqLVNhKd4PaTHcFH0a7Er/kC2/Hy3YpqfJ1CqUTrrjBJtlyb7AdIAxBZTcVcazDNdFBAiCBlVpsBo8R2zNuAuFJ9klR3BwXG7Y6k9KXPOpYjAz5r6+0NtUq/xQb/9mho1bg6Oa4HG7WlMujzDv3hGeqDvukDh8mo+9K6GZRprWqolHpb6wuoSdeAkzTlsjDTEuCh3bnP4LurDKL5M0H9whwmzvikw==" />-->
    <!--正式库-->
  </connectionStrings>
  <appSettings>
    <!--错误日志目录 -->
    <add key="LogFilePath" value="C:\adminLog"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>