@model Com.Cos.Models.Member

<div class="rightContent">
    <div class="rightTop">
        <div class="user">
            <div class="touxiang">
                <img src="@Model.Portrait" />
            </div>
            <span>作者认证</span>
            <p>@Model.nickname</p>
        </div>
        <div class="operation clearfix">
            <div class="think">
                <img src="~/Content/img/taoxin.png" />
                <p style="color:#fe98bc">想出</p>
            </div>
            <div class="think">
                <img src="~/Content/img/xinxi.png" />
                <p>评论</p>
            </div>
            <div class="think">
                <img src="~/Content/img/piaochong.png" />
                <p>轰炸</p>
            </div>
            <div class="think">
                <img src="~/Content/img/gouda.png" />
                <p>勾搭</p>
            </div>
        </div>
    </div>
    <div class="Navigation clearfix">
        <h3>快捷导航</h3>
        <ul class="clearfix">
            <li>投稿须知</li>
            <li>萌币使用说明</li>
            <li>加入我们</li>
            <li>赞助我们</li>
            <li>关于我们</li>
        </ul>
    </div>
</div>
