<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="ConnLink" connectionString="server=localhost;User Id=root;password=;Database=reg" providerName="MySql.Data.MySqlClient"/>
    <add name="oldConnLink" connectionString="server=121.40.206.253;Database=ESSoft;uid=sa;pwd=lXYtpdcOMBvnaAdOcUpNiofmld8PtAWa4ZVWN4xqGxQ=;" providerName="System.Data.SqlClient"/>
    <add name="newConnLink" connectionString="server=localhost;Database=ESSoft;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
</configuration>
