<?xml version="1.0" encoding="utf-8"?>
<rewriter>
  <rewrite url="~/index.html" to="~/Pages/App_Public/Index.aspx" processing="stop"></rewrite>
  <!--首页-->
  <rewrite url="~/zplist-([1-9]\d*)\.html" to="~/Pages/ShowManage/ShowList.aspx?type=works&amp;page=$1" processing="stop"></rewrite>
  <!--作品-->
  <rewrite url="~/zplist-([a-zA-Z]*)\-([1-9]\d*)\.html" to="~/Pages/ShowManage/ShowList.aspx?type=$1&amp;page=$2" processing="stop"></rewrite>
  <!--作品-->
  <rewrite url="~/hzlist-([1-9]\d*)\.html" to="~/Pages/ShowManage/ShowList.aspx?type=reprint&amp;page=$1" processing="stop"></rewrite>
  <!--合作-->
  <rewrite url="~/hdlist-([1-9]\d*)\.html" to="~/Pages/ShowManage/ShowList.aspx?type=activity&amp;page=$1" processing="stop"></rewrite>
  <!--活动-->
  <rewrite url="~/fxlist-([1-9]\d*)\.html" to="~/Pages/ShowManage/ShowList.aspx?type=share&amp;page=$1" processing="stop"></rewrite>
  <!--分享-->
    <rewrite url="~/czlist-([1-9]\d*)\.html" to="~/Pages/ShowManage/ShowList.aspx?type=rent&amp;page=$1" processing="stop"></rewrite>
  <!--出租-->

  <rewrite url="~/login.html" to="~/Pages/App_Public/Login.aspx" processing="stop"></rewrite>
  <!--登录-->
  <rewrite url="~/bargain.html" to="~/Pages/NavigationManage/Agreement.aspx" processing="stop"></rewrite>
  <!--注册协议-->
  <rewrite url="~/prompts.html" to="~/Pages/App_Public/Prompts.aspx" processing="stop"></rewrite>
  <!--登出-->

  <rewrite url="~/yh/dashboard.html" to="~/Pages/HomeManage/Dashboard.aspx" processing="stop"></rewrite>
  <!--用户中心-->
  <rewrite url="~/yh/contributions.html" to="~/Pages/HomeManage/Contributions.aspx" processing="stop"></rewrite>
  <!--文章投稿-->
  <rewrite url="~/yh/mytg.html" to="~/Pages/HomeManage/MyContribution.aspx" processing="stop"></rewrite>
  <!--我的投稿-->
  <rewrite url="~/yh/translate.html" to="~/Pages/HomeManage/Translate.aspx" processing="stop"></rewrite>
  <!--私信-->
  <rewrite url="~/yh/bomb.html" to="~/Pages/HomeManage/Bomb.aspx" processing="stop"></rewrite>
  <!--轰炸小游戏-->
  <rewrite url="~/yh/notifications.html" to="~/Pages/HomeManage/Notifications.aspx" processing="stop"></rewrite>
  <!--我的提醒-->
  <rewrite url="~/yh/history.html" to="~/Pages/HomeManage/History.aspx" processing="stop"></rewrite>
  <!--积分历史-->
  <rewrite url="~/yh/settings.html" to="~/Pages/HomeManage/Settings.aspx" processing="stop"></rewrite>
  <!--我的设置-->
  <rewrite url="~/yh/medal.html" to="~/Pages/HomeManage/Medal.aspx" processing="stop"></rewrite>
  <!--勋章中心-->
  <rewrite url="~/yh/lottery.html" to="~/Pages/HomeManage/Lottery.aspx" processing="stop"></rewrite>
  <!--积分商城-->
  <rewrite url="~/yh/avatar.html" to="~/Pages/HomeManage/Avatar.aspx" processing="stop"></rewrite>
  <!--我的头像-->
  <rewrite url="~/yh/password.html" to="~/Pages/HomeManage/Password.aspx" processing="stop"></rewrite>
  <!--修改密码-->
  <rewrite url="~/yh/recharge.html" to="~/Pages/HomeManage/Recharge.aspx" processing="stop"></rewrite>
  <!--立刻充值-->
  <rewrite url="~/yh/buyvip.html" to="~/Pages/HomeManage/BuyVip.aspx" processing="stop"></rewrite>
  <!--购买会员-->
  <rewrite url="~/yh/exchange.html" to="~/Pages/HomeManage/Share.aspx?t=enchange" processing="stop"></rewrite>
  <!--发布兑换-->
  <rewrite url="~/yh/rent.html" to="~/Pages/HomeManage/Share.aspx?t=rent" processing="stop"></rewrite>
  <!--发布出租-->
  <rewrite url="~/yh/myreleaseexchange.html" to="~/Pages/HomeManage/MyReleaseExchange.aspx" processing="stop"></rewrite>
  <!--我发布的兑换-->
  <rewrite url="~/yh/myparticipateexchange.html" to="~/Pages/HomeManage/MyParticipateExchange.aspx" processing="stop"></rewrite>
  <!--我参与的兑换-->

  <rewrite url="~/zl/zl-([0-9]\d*)\.html" to="~/Pages/AuthorManage/Author.aspx?id=$1" processing="stop"></rewrite>
  <!--资料-->
  <rewrite url="~/zl/gj-([0-9]\d*)\.html" to="~/Pages/AuthorManage/AuthorWorks.aspx?id=$1" processing="stop"></rewrite>
  <!--稿件-->

  <rewrite url="~/worksview-([0-9]\d*)\.html" to="~/Pages/ShowManage/view.aspx?nid=$1&amp;type=works" processing="stop"></rewrite>
  <rewrite url="~/reprintview-([0-9]\d*)\.html" to="~/Pages/ShowManage/view.aspx?nid=$1&amp;type=reprint" processing="stop"></rewrite>
  <rewrite url="~/activityview-([0-9]\d*)\.html" to="~/Pages/ShowManage/view.aspx?nid=$1&amp;type=activity" processing="stop"></rewrite>
  <rewrite url="~/shareview-([0-9]\d*)\.html" to="~/Pages/ShowManage/ExchangeView.aspx?nid=$1" processing="stop"></rewrite><!--分享详情页-->
  <rewrite url="~/rentview-([0-9]\d*)\.html" to="~/Pages/ShowManage/RentView.aspx?nid=$1" processing="stop"></rewrite>
  <!--出租详情页-->

  <rewrite url="~/home-([0-9]\d*)\.html" to="~/Pages/HomeManage/Home.aspx?uid=$1" processing="stop"></rewrite>
</rewriter>
