<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Api-20160707071938.mdf;Initial Catalog=aspnet-Api-20160707071938;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="SQLConnString" connectionString="UldTUMjt8WGV8O6eXtc3BfAZn1lNmbvFT5Bx4naky7CM+SD0+80rxdMKkeqLVNhKd4PaTHcFH0a7Er/kC2/Hy3YpqfJ1CqUTrrjBJtlyb7AdIAxBZTcVcazDNdFBAiCBlVpsBo8R2zNuAuFJ9klR3BwXG7Y6k9KXPOpYjAz5r6+0NtUq/xQb/9mho1bg6Oa4HG7WlMujzDv3hGeqDvukDh8mo+9K6GZRprWqolHpb6wuoSdeAkzTlsjDTEuCh3bnP4LurDKL5M0H9whwmzvikw==" />-->
    <add name="SQLConnString" connectionString="UldTUMjt8WGV8O6eXtc3BfAZn1lNmbvFT5Bx4naky7CM+SD0+80rxdMKkeqLVNhKaJSGV2YcCFssMUCy5AWT4PdKAF48Jg07zkc5ARe2s+TlI/AzVg06nn7pquiXOK5fsBaOd/Cer73cfZ7sjeZiCAb8uVyHv2FPZZdTr5cKcl8RIN88a6kn3fPf03dD1MMjQ3JyVvDAATsd8yIR2q72qq4B1a1LKv/WCpx/AFKA9oIEIKEmpFlNmO4D7fwCWB9N"/>
    <!--测试库-->
  </connectionStrings>
  <appSettings>
    <!--错误日志目录 -->
    <add key="LogFilePath" value="C:\apiLog"/>
  </appSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation debug="true"/>
    <authentication mode="Windows"/>
  </system.web>
</configuration>
<!--ProjectGuid: {67D3B7D3-92D8-4273-B1AF-E99D8520D886}-->